.common__section {
  background: linear-gradient(rgb(0, 52, 67, 0.6), rgb(0, 232, 158, 0.6)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
